.photo-gallery {
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 20vh 25vh); /* Change this as needed */
  gap: 4px;
}

.photos-container {
  position: relative; /* Positioning context for the overlay */
  overflow: hidden; /* Hide overflow */
  border-radius: 2px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s; /* Smooth hover effect */
}

.photos-container:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.photos-container img {
  width: 100%; /* Make images responsive */
  height: 100%; /* Fill the container */
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  display: block; /* Remove bottom space */
}

.full-screen-photo-overlay {
  position: fixed; /* Fixed position for overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Dark background */
  display: flex; /* Center the full-screen image */
  flex-direction: column; /* Stack image and text */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  z-index: 1000; /* Above other content */
}

.full-screen-photo-overlay img {
  max-width: 99%; /* Limit max width */
  max-height: 99%; /* Limit max height */
  width: auto; /* Auto width to maintain aspect ratio */
  height: auto; /* Auto height to maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  object-fit: contain; /* Maintain aspect ratio without stretching */
}

.tag {
  color: white; /* White text for contrast */
  margin-top: 10px; /* Space above text */
  text-align: center; /* Center the text */
}

.img-download-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  max-height: 95vh;
  height: fit-content;
}
.download-button {
  position: absolute;
  bottom: 0;
  width: max-content;
  margin: 5px;
  padding: 8px 12px; /* Padding for the button */
  background-color: rgba(0, 0, 0, 0.89); /* Semi-transparent background */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 0.9rem; /* Font size */
  transition: background-color 0.3s; /* Smooth background transition */
  cursor: pointer;
}

.download-button:hover {
  background-color: rgb(0, 0, 0); /* Darker on hover */
  z-index: 9999;
}

.load-more-button {
  background-color: #005c0f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
}

.load-more-button:hover {
  background-color: #0f3600;
}
