/* App.css */
* {
  margin: 0;
  padding: 0;
  /* z-index: 99; */
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: 1001;
}

.nav {
  background-color: #416d19;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  padding: 10px 0;
}

.nav ul {
  /* background-color: #333; */
  width: 100%;
  margin: 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly; /* Center the navigation items */
  align-items: center;
}

.nav li {
  margin: 0 20px; /* Adjusted margin for better spacing */
}

li > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  padding-top: 2px;
  font-size: small;
  font-weight: 200;
}

.nav a {
  text-decoration: none;
  font-size: larger;
  color: white;
  font-weight: bold; /* Added font weight for better visibility */
}

.nav a:hover {
  color: #999898;
}

.active-nav {
  border-bottom: 1px solid white;
}

.content {
  flex: 1;
  /* padding: 20px; */
}

/* Center the content of the home page */
.home {
  text-align: center;
}

/* Adjusted image width for better responsiveness */
.home img {
  max-width: 100%;
  height: auto;
}

/* Center the content of about and events pages */

/* Add some padding to the top and bottom of sections */
.about,
.events {
  padding: 20px 0;
}

.bottom {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 200px;
  text-align: center;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff67e;
}

p {
  margin: 0;
  /* color: white; */
}

.manage {
  text-decoration: none;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}
